.cards{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
}

/* Card 1 */

.card-box-1{
    padding: 15px;
    color: #fff;
    background: rgb(255,182,150);
    background: linear-gradient(90deg, rgba(255,182,150,1) 10%, rgba(255,146,150,1) 36%, rgba(254,130,150,1) 100%);
}

.card-1-body{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}

.nums{
    display: flex;
    gap: 20px;
}

.num1{
    color: green;
}

.num-btn{
    padding: 5px 20px;
    border: none;
    margin: 0 5px;
}

.num2{
    color: red;
}

.card-1-box{
    padding: 15px;
    border-radius: 10px;
}

.main-card{
    min-width: 23%;
    min-height: 300px;
    margin: 10px;
    max-width: 400px;
    max-height: 300px;
    border-radius: 10px;
}

/* card 1 ends here */

/* OTHER CARDS */

.card-box-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.card-box-1:hover{
    color: rgb(230, 230, 230);
    transition: 0.3s ease-in;
}


.bg-2{
    background: rgb(137,198,248);
    background: linear-gradient(90deg, rgba(137,198,248,1) 0%, rgba(78,166,237,1) 44%, rgba(0,104,186,1) 100%);    
}

.bg-3{
    background: rgb(127,217,209);
    background: linear-gradient(90deg, rgba(127,217,209,1) 0%, rgba(69,211,192,1) 44%, rgba(4,162,138,1) 100%);    
}

.bg-4{
    background: rgb(217,127,195);
    background: linear-gradient(90deg, rgba(217,127,195,1) 0%, rgba(104,69,211,1) 61%, rgba(4,100,162,1) 100%);    
}

.card-content h4{
    font-size: 30px;
    line-height: 50px;
}

.price{
    font-size: 35px;
    padding: 5px;
}

.price-text{
    display: flex;
}

.price-text i{
    font-size: 30px;
    padding: 10px;
}

.big-icon i{
    font-size: 40px;
    margin-top: 50px;
}



.big-icon-1 i{
    font-size: 40px;
}

select{
    outline: none;
}

@media(max-width: 1800px){
    .cards{
        display: grid;
        grid-template-columns: 32% 32% 32%;
        align-items: center;
        justify-content: flex-start;
    }

    .main-card{
        min-width: 95%;
        min-height: 10%px;
        margin: 10px;
        max-width: 400px;
        max-height: 300px;
    
    }
}

@media(max-width: 1600px){
    .cards{
        display: grid;
        grid-template-columns: 49% 49%;
        align-items: center;
        justify-content: flex-start;
    }
    .main-card{
        min-width: 95%;
        min-height: 10%px;
        margin: 10px;
        max-width: 400px;
        max-height: 300px;
    
    }
 

}

@media(max-width: 900px){
    .cards{
        display: flex;
        flex-direction: column;
    }
    .main-card{
        min-width: 90%;
        min-height: 10%px;
        margin: 10px;
        max-width: 90%;
        max-height: 300px;
    }

    .card-box-2{
        display: flex;
        flex-direction: column;
    }

    .card-1-body{
        display: flex;
        flex-direction: column;
    }

}