:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #F3525A;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --shadow-color: #00000063;

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #F3525A;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --shadow-color: rgba(255, 255, 255, 0.452);
}



.cards{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
}

/* Card 1 */

.card-box-1{
    padding: 15px;
    color: #fff;
    box-shadow: 3px 3px 3px var(--shadow-color);
    background: rgb(255,188,150);
    background: linear-gradient(90deg, rgba(255,188,150,1) 10%, rgba(255,130,150,1) 100%);
}


.card-1-body{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.nums{
    display: flex;
    gap: 10px;
    margin-top: -30px;
}

.num1{
    color: green;
    font-size: 15px;
}

.num-btn{
    border: none;
    margin: 0 5px;
}

.num2{
    color: red;
    font-size: 15px;
}

.nums p{
    font-size: 12px;
}

.card-1-box{
    padding: 15px;
    border-radius: 10px;
}

.card-1-head h2{
    font-size: 20px;
}

.main-card{
    min-width: 23%;
    min-height: 120px;
    margin: 10px;
    max-width: 400px;
    max-height: 100px;
    border-radius: 10px;
}

/* card 1 ends here */

/* OTHER CARDS */

.card-box-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--shadow-color);

}

.card-box-1:hover{
    transform: rotateY(1deg);
    transform: rotateZ(1deg);
    transition: 0.3s ease-in-out;
}

.card-box-2:hover{
    transform: rotateY(-1deg);
    transform: rotateZ(-1deg);
    transition: 0.3s ease-in-out;
}

.bg-2{
    background: rgb(209,234,254);
    background: linear-gradient(90deg, rgb(155, 199, 235) 9%, rgba(34,143,229,1) 100%);
}

.bg-3{
    background: rgb(161,190,230);
    background: linear-gradient(90deg, rgba(161,190,230,1) 9%, rgb(203, 112, 245) 100%);
}

.bg-4{
    background: rgb(171,255,248);
    background: linear-gradient(90deg, rgb(139, 207, 202) 9%, rgba(0,172,146,1) 100%);
}

.card-content h4{
    font-size: 20px;
    line-height: 50px;
}

.price{
    font-size: 25px;
    padding: 5px;
    
}

.price-text{
    display: flex;
}

.price-text i{
    font-size: 30px;
    padding: 10px;
}

.big-icon i{
    font-size: 30px;
    margin-top: 50px;
    color: var(--body-color);
    opacity: 0.3;
}

.big-icon-1{
    margin-top: -60px;
}

.big-icon-1 i{
    font-size: 30px;
    opacity: 0.3;
    color: var(--body-color);
}

select{
    outline: none;
    cursor: pointer;
}

@media(max-width: 1800px){
    .cards{
        display: grid;
        grid-template-columns: 32% 32% 32%;
        align-items: center;
        justify-content: flex-start;
    }




}

@media(max-width: 1600px){
    .cards{
        display: grid;
        grid-template-columns: 49% 49%;
        align-items: center;
        justify-content: flex-start;
    }
    .main-card{
        min-width: 95%;
        margin: 10px;
        max-width: 400px;
    }

 

}

@media(max-width: 900px){
    .cards{
        display: flex;
        flex-direction: column;
    }

    .card-1-head h2{
        font-size: 15px;
    }

    .main-card{
        min-width: 95%;
        margin: 10px;
        max-width: 200px;
    }

    .card-content h4{
        font-size: 25px;
    }


    .big-icon i{
        font-size: 30px;
    }


    .main-card{
        height: 250px;
    }

    .card-1-body{
        display: flex;
        flex-direction: column;
    }
    
    
    .big-icon-1{
        margin-top: -100px;
        margin-right: -95%;
    }

}