@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #F3525A;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --shadow-color: #3b3b3b3c;


    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color) !important;
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #F3525A;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;

}

/* WEBKIT FADEDOWN ANIMATION */

@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }


/* ENDS HERE */

/* Date range picker */

.daterangepicker{
    padding: 10px;
    width: auto;
    margin: 1px !important;
}


/* CONTAINER BG'S */

.first-container{
    background: var(--sidebar-color);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}



/* toggles */

.drop-container-body{
    display: none;
    opacity: 1;
    animation: fade 0.5s linear;
}

.open{
    display: block;
}

/* ----- */

.container-1{
    background: var(--sidebar-color);
    min-height: 400px;
    margin: 20px !important;
    color: var(--text-color);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.container-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.container-message p{
    margin-top: 15px;
    color: #fff;
}

select{
    border: 1px solid #9999;
}

.container-footer{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

/* TOOLTIPS */


/* for dashboard graph */

/* for full screen containers */
.container-box{
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

/* Tooltip */


/* buttons */


.primary-btn{
    padding: 5px 10px;
    border: none;
    color: #fff;
    border-radius: 5px;
    background: var(--primary-color);
}



.primary-btn:hover{
    background-color: #d14950;
}

.primary-btn:hover > i{
    transform: rotate(90deg);
    transition: 0.2s ease-in-out;
}


.btn-1{
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px !important;
    font-size: 15px;
}

.container-heading{
    color: var(--text-color);
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.box-container{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.main-box h4{
    font-size: 15px;
    color: var(--text-color);
}

/* Filter container from CDRS */


.container-2{
    background: var(--sidebar-color);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.main-container{
    background: var(--sidebar-color);
    padding: 20px;
    min-height: 300px;
}

.container-heading{
    padding: 10px;
    margin: 10px;
}

.size-m{
    width: 200px;
    outline: none;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #888;
}


.drop-container{
    background: var(--sidebar-color);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);

}

.container-heading{
    display: flex;
    justify-content: space-between;
}


.toggle-btn{
    border: none;
    background: var(--primary-color);
    color: #fff;
    width: 30px ;
    transition: 0.3s ease;
    font-size: 15px;
    border-radius: 3px;
}


.content-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -20px;
    padding: 10px;
}

.content-1 h5{
    color: #fff;
}

.content-1 p{
    color: #fff;
}


.content-table table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd !important;
    background: var(--sidebar-color);
    text-align: left;
    padding: 8px;
    color: var(--text-color);
  }
  
  th{
    background: local;
    color: #333;
  }

/* bg */

.primary-bg{
    background: var(--sidebar-color);
    color: var(--text-color);
}


/* Page Headings Container */

.heading-container{
    background: var(--body-color);
    margin: 0 10px;
    border-bottom: 1px solid #999;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start !important;
}

.heading-content{
    display: flex;
    gap: 15px;
}

.heading-content i{
    font-size: 30px;
    color: var(--text-color);
}

.heading-content h3{
    font-size: 20px;
    margin-top: 10px;
    color: var(--text-color);
}

/* Text color */

.text-color{
    color: var(--text-color);
}



@media(max-width: 1250px){
    .container-head{
        display: flex;
        flex-direction: column;
    }

    .row{
        display: flex;
        flex-direction: column !important;
    }

    .mr{
        margin-bottom: 10px;
        margin-right: 0;
    }

    .size-m{
        margin: 0;
        width: 200px;
    }


    .head-row{
        display: flex;
        flex-direction: column;
    }

    .options{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .filter{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;
    }

    .box-container{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
    }


}

@media(max-width: 786px){

    .content-table{
        width: 100%;
        overflow-x: scroll;
    }

    .content-1{
        display: flex;
        flex-direction: column;
    }

}